body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background: linear-gradient(135deg, #007bff 0%, #00486b 100%);
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  position: relative;
}

header:hover {
  background-color: #0056b3;
}
.cart-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: #ffffff;
  border-radius:20%;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensure it's above other content */
}

.cart-container:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart-icon {
  font-size: 20px;
}

.cart-item-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 6px;
  font-size: 12px;
  margin-left: 6px;
  font-weight: bold;
}

.cart-icon i {
  font-size: 20px;
}

.item-count {
  margin-left: 10px;
}

main {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#scanner-container {
  width: 100%; /* Adjusted width to fit smaller screens */
  margin: 20px auto;
  aspect-ratio: 1 / 1;
  position: relative;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

button {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 25px;
  padding: 12px 25px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 300px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: opacity 0.3s ease;
}

.popup-content button {
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #9e9e9e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.popup-content input[type="number"] {
  width: 25%;
  padding: 12px;
  font-size: 16px;
  border: 2px solid #007bff;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.popup-content input[type="number"]:focus {
  outline: none;
  border-color: #0056b3;
}

.popup-content button:hover {
  background-color: #0056b3;
}

.popup-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 30px;
}

.popup-content table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}

.popup-content th, .popup-content td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.popup-content th {
  background-color: #f2f2f2;
  text-align: left;
}

.popup-content tr:last-child td {
  border-bottom: none;
}

.popup-content #total {
  font-weight: bold;
  margin-top: 10px;
}

#checkout-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-width: 600px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: opacity 0.3s ease;
}

/* Add these styles to your existing style.css file */

#checkout-popup .popup-content {
  margin: 0 auto; /* This will center the content if width is less than 100% */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Other styles... */
  width: 60%; /* Adjust width as needed */
  min-width: 320px; /* Ensure popup is not too narrow */
}

#checkout-items {
  width: 100%; /* Full width of the popup content */
  border-collapse: collapse; /* Remove space between borders */
  margin-top: 20px; /* Add some top margin for spacing */
}


#checkout-items th, #checkout-items td {
  border: 1px solid #ddd; /* Light gray border for cells */
  text-align: left;
  padding: 12px 16px; /* Increase padding for better spacing */
}
#checkout-items th {
  background-color: #f9f9f9; /* Light background for headers */
  color: #333; /* Dark text for contrast */
  font-size: 18px; /* Increase font size for better readability */
}

#checkout-items tr:nth-child(even) {
  background-color: #f2f2f2; /* Zebra striping for rows */
}

.close {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 100px;
  cursor: pointer;
}

#product-title {
  margin: 20px 0 10px;
  font-size: 24px;
}

#product-price {
  font-size: 20px;
  color: #333;
}
.search-container, .category-filters, #loading-indicator {
  width: 90%;
  max-width: 300px;
  margin: 20px auto;
}

#searchInput {
  width: 90%;
  padding: 15px;
  border: 2px solid #007bff;
  border-radius: 30px;
  font-size: 18px;
  transition: border-color 0.3s ease;
}
#searchInput:focus {
  border-color: #0056b3;
}
.search-results, .product-display-area, #loading-indicator {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
}

.search-results div, .product-display-area .product-detail {
  padding: 15px;
  cursor: pointer;
}

.search-results div:hover, .category-filters button.active {
  background-color: #f2f2f2;
}
/* CSS for quantity change box */
input[type="text"] {
  width: 50px; /* Set the width of the input box */
  padding: 5px; /* Add padding */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add border radius */
  text-align: center; /* Center align text */
}

input[type="text"]:focus {
  outline: none; /* Remove default focus outline */
  border-color: #007bff; /* Change border color on focus */
}

.total-price {
  display: flex; /* Use flexbox to align items */
  justify-content: flex-end; /* Align items to the end of the container (right side) */
}

.total-price span.currency {
  margin-left: 5px; /* Add some spacing between the price and the currency symbol */
}


@media screen and (max-width: 768px) {
  #scanner-container, .search-container, .popup {
    width: 80%;
    max-width: none;
  }

  button, .category-filters button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .popup-content h2, .popup-content p, .close {
    font-size: smaller;
  }
}
/* Add this to your existing CSS */
@media screen and (max-width: 480px) {
  .cart-icon i {
    font-size: 1.5em; /* Adjusted icon size for smaller screens */
  }

  .popup {
    width: 90%;
    max-width: 280px; /* Adjusted max-width for smaller screens */
  }

  .popup-content input[type="number"] {
    width: 50%; 
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .cart-icon i {
    font-size: 2.5em; /* Adjusted icon size for tablet screens */
  }

  .popup {
    width: 80%;
    max-width: 350px; /* Adjusted max-width for tablet screens */
  }
}
